<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>学习笔记</title>
  <meta name="description" content="舒磊学习笔记">
  <meta name="HandheldFriendly" content="true">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/screen.css">
  <link rel="stylesheet" href="/static/css/icomoon.css">
  <link rel="stylesheet" href="/static/css/prettify.css">
  <script src="/static/js/jquery.min-2.1.3.js"></script>
  <link href="" rel="alternate" title="舒磊学习笔记" type="application/atom+xml">
</head>
<body>
  <header role="banner">
    <h1><a href="shulei.li" data-pjax>Shulei Lee</a></h1>
    <figure></figure>
